@{
    ViewData["Title"] = "About";
}

<div class="content-area">
    <div class="about-image-container">
        <img class="about-image" src="../profile3.png">
    </div>
    <div id="about-text-container">
        <div style="display:flex; justify-content:center;">
            <h1 style="font-style: italic;">ABOUT THE SITE</h1>
        </div>
        <p class="content-area-text">
            This site was create as a project
            for
            <a class="content-area-text"
               href="https://ecatalog.nbu.bg/default.asp?V_Year=2017&YSem=5&Spec_ID=&Mod_ID=284&PageShow=coursepresent&P_Menu=courses_part2&Fac_ID=3&M_PHD=&P_ID=2206&TabIndex=1&K_ID=42288&K_TypeID=10&l=0">
                CITB517 Client-Server Technologies
            </a> taught in
            <a href="https://www.nbu.bg/en" class="content-area-text">
                New Bulgarian University (NBU).
            </a>
            <br>
            The project consists of two parts.
            <span style="text-decoration: underline; font-weight:600;">
                The first part
            </span>,
            that is currently implemented, is the front-end part of the
            project.
            The minimal requirements for the front-end parts are:
            <ul>
                <li>Title page with an image and description</li>
                <li>Second page with a gallery of image</li>
                <li>
                    Comments page, which should display the comments
                    that were previously written
                </li>
            </ul>
        </p>
        <p>
            <span style="text-decoration: underline; font-weight:600;">
                The second part
            </span> of the project is to implement some sort of back-end functionality, as an addition to the
            front-end that was developed in the first part. The minimal requirements for the back-end are to be determined.
        </p>
        <div style="display:flex; justify-content:center;">
            <h1 style="font-style: italic;">ABOUT ME</h1>
        </div>
        <div style="display:flex; justify-content:center;">
            <h3 style="font-style: italic;">Education</h3>
        </div>
        <p>
            Graduated from <a href="https://elsys-bg.org/">ELSYS-TUES</a> secondary school in 2018 with specialisation in Networking.
            Enrolled at New Bulgarian University, in the department of <a href="">Telecommunications and computer technology</a>, to further
            improve on my networking knowledge and skills. Halfway through my bachelor's studies, I discovered my passion for informatics and
            computer science and thus I enrolled in extracurricular courses, such as this one.
        </p>
        <div style="display:flex; justify-content:center;">
            <h3 style="font-style: italic;">Professional Experience</h3>
        </div>
        <p>
            <ul>
                <li>3 years (2018 - 2021) as a Networking Engineer</li>
                <li>2 years (2021 - Oct. 2023) as a System Administartor and DevOps engineer</li>
                <li>Couple of months as a Back-End Developer</li>
            </ul>
        </p>
        <div style="display:flex; justify-content:center;">
            <h3 style="font-style: italic;">Hobbies</h3>
        </div>
        <p>
            <ul>
                <li>Gaming</li>
                <li>
                    Language studies. Known language as of 2023:
                    <ul>
                        <li>
                            Bulgarian
                        </li>
                        <li>
                            Serbo-Croatian
                        </li>
                        <li>
                            English
                        </li>
                        <li>
                            German
                        </li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
    <div class="about-image-container">
        <a href="https://www.nbu.bg/en/about-nbu/welcome-to-nbu" title="About NBU">
            <img class="about-image" src="../nbu-logo.png">
        </a>
    </div>
</div>
