<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="NBU, project, front-end">
        <meta name="description" content="CITB517-project">
        <meta name="author" content="Antonio Busuladzich">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="../style/style.css">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
        <script src="../js/loadImages.js"></script>
        <script src="../js/controlComments.js"></script>
    </head>
    <body style="background-color: #DDF2FD;" onload="loadGalleryImages()">
        <div class="nav-bar">
            <div class="sub-nav" id="links-nav">
                <h3 id="nav-title" class="light-item">
                    F95476
                </h3>
                <ul class="navigation-links">
                    <li class="navigation-links">
                        <a class="light-item" href="index.html">Home</a>
                    </li>
                    <li class="navigation-links">
                        <a class="light-item" href="about.html">About</a>
                    </li>
                </ul>
            </div>
            <div id="profile-nav" class="sub-nav">
                <a href="/profile" class="light-item">
                    <span id="profile-name">Antonio Busuladzich </span>
                    <img src="../profile2.png" width="40px">
                            
                </a>
            </div>
        </div>
        <div class="content-area" >
            <table id="images-table-list">
            </table>
        </div>
    </body>
</html>